apiVersion: v1
kind: Secret
metadata:
  name: longhorn-s3-credentials
  namespace: longhorn-system
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: {{ exec "op" (list "read" "--no-newline" "op://Private/aws longhorn planetlauritsen backup access keys/access-key") | quote }}
  AWS_SECRET_ACCESS_KEY: {{ exec "op" (list "read" "--no-newline" "op://Private/aws longhorn planetlauritsen backup access keys/secret-key") | quote }}
