
- name: Setup /etc/hosts
  hosts: all
  become: yes
  tasks:
    - name: Add pi-0 to /etc/hosts
      ansible.builtin.lineinfile:
        line: "{{ pi0.ipv4.addr }}    pi-0 pi-0.local"
        path: /etc/hosts
    - name: Add pi-1 to /etc/hosts
      ansible.builtin.lineinfile:
        line: "{{ pi1.ipv4.addr }}    pi-1 pi-1.local"
        path: /etc/hosts
    - name: Add pi-0 to /etc/hosts
      ansible.builtin.lineinfile:
        line: "{{ pi2.ipv4.addr }}    pi-2 pi-2.local"
        path: /etc/hosts

- name: Append cgroup settings to cmdline.txt
  hosts: rpicluster
  become: yes
  tags:
    - rpi
  tasks:
    - name: Ensure the text is present in /boot/firmware/cmdline.txt
      args:
        creates: /etc/cmdline_patched_for_containers
      register: cmdline_check
      ansible.builtin.shell: |
        set -e
        f=/boot/firmware/cmdline.txt
        if ! grep -q "cgroup_enable=cpuset cgroup_enable=memory cgroup_memory=1 swapaccount=1" $f; then
          line1=$(tr -d '\012' < $f)
          echo "$line1 cgroup_enable=cpuset cgroup_enable=memory cgroup_memory=1 swapaccount=1" > $f        
          touch /etc/cmdline_patched_for_containers
        fi

    - name: Reboot the machine if cmdline.txt was changed
      ansible.builtin.reboot:
        reboot_timeout: 600
      when: cmdline_check.changed